html, body{
    height: 100%;
    margin: 0;
}
header{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 10%;
    display: flex;
    z-index: 1;
    align-items: center;
    justify-content: center;
    background-color: orchid;
    span{
        a{
            text-decoration: none;
            color: black;
        }
    }
}
main{
    display: flex;
    position: relative;
    top: 10%;
    width: 100%;
    height: 150em;
    background-color: bisque;
    .lateral{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: azure;
        width: 25%;
        height: 100%;
    }
    .conteudo{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: blanchedalmond;
        width: 50%;
        height: 100%;
    }
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 10%;
    width: 100%;
    bottom: 0;
    background-color: cornflowerblue;
    z-index: 1000;
}